footer{
    background-color: #353535;
    color: #fff;
    padding: 1em 2em;

    a{
        text-decoration: none;
        color: #fff;
    }

    ul{
        padding-inline: 0;
    }

    li{
        list-style: none;
        list-style-type: none;
        color: #fff;
        padding-bottom: 3px;
    }
}