header{
    display: flex;
    justify-content: center;
    box-shadow: 0 1em rgb(0 0 0 / 25%);
    align-items: center;
    i{
    color: #000;
    font-size: 20px;
    }
    .logo, form{
        display: flex;
        justify-content: center;
    }
    form{
        width: 100%;
        padding: 1em 0 1em 0;
        background-color: #f3f3f3;
        width: 100%;

        i{
            padding-left: 3em;
        }
    }
    input{
        border: none;
        margin-left: 0.5em;
        font-size: 18px;
        font-weight: 500;      
        background: none;

        #lieux{
            color: #000;
        }
    }
    #home &{
        flex-direction: column !important;
    }
}
