body {
  font-family: "Roboto", sans-serif;
}

footer #footer-logo, #titre-menu {
  font-family: "Shrikhand", cursive;
}

#btn {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 3em;
  padding: 1em 1.5em;
  color: #fff;
  text-decoration: none;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
}
#btn:hover {
  transition: all 1s;
  background: linear-gradient(to top, #FF79DA, #ffabe7);
  box-shadow: 6px 9px 9px rgba(0, 0, 0, 0.35);
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 1em 2em;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
footer ul {
  padding-inline: 0;
}
footer li {
  list-style: none;
  list-style-type: none;
  color: #fff;
  padding-bottom: 3px;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 5%;
  }
  footer #footer-logo {
    font-size: 2.5em;
  }
}
header {
  display: flex;
  justify-content: center;
  box-shadow: 0 1em rgba(0, 0, 0, 0.25);
  align-items: center;
}
header i {
  color: #000;
  font-size: 20px;
}
header .logo, header form {
  display: flex;
  justify-content: center;
}
header form {
  width: 100%;
  padding: 1em 0 1em 0;
  background-color: #f3f3f3;
  width: 100%;
}
header form i {
  padding-left: 3em;
}
header input {
  border: none;
  margin-left: 0.5em;
  font-size: 18px;
  font-weight: 500;
  background: none;
}
header input #lieux {
  color: #000;
}
#home header {
  flex-direction: column !important;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
}

.loader {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 3s forwards;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader .spinner {
  position: absolute;
  width: 28.8px;
  height: 28.8px;
  margin: 25% 50% 0 50%;
}
.loader .spinner::before, .loader .spinner::after {
  --radius: 250;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  animation: circle 3s linear;
  background: #9356dc;
  border-radius: 50%;
  opacity: 0;
}
.loader .spinner::before {
  --radius: -250;
  background: #ffdef6;
  opacity: 0;
}
@keyframes circle {
  0% {
    transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(1440deg) translateY(0);
  }
  100% {
    transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
  }
}

#home main #fonctionnement, #home main #restaurants {
  padding: 0 2% 0 2%;
}
#home main #intro {
  padding: 3em;
  background-color: #f6f6f6;
  text-align: center;
}
#home main #intro h1 {
  font-size: 4vh;
  font-weight: 600;
}
#home main #intro p {
  font-size: 19px;
  margin-bottom: 3em;
}
#home main #intro #home-btn {
  display: flex;
  justify-content: center;
}
#home main #fonctionnement div .conteneur-fonctionnement {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  color: #000;
  background-color: #f6f6f6;
  padding: 20px 0px 20px 10px;
  margin: 1rem;
  border-radius: 20px;
  position: relative;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.15);
}
#home main #fonctionnement div .conteneur-fonctionnement:hover {
  transition: all 1s;
  background-color: #ffdef6;
  box-shadow: 6px 9px 9px rgba(0, 0, 0, 0.25);
}
#home main #fonctionnement div .conteneur-fonctionnement:hover i {
  color: #9356DC;
}
#home main #fonctionnement div .conteneur-fonctionnement .chiffre {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  margin-left: -1em;
}
#home main #fonctionnement div .conteneur-fonctionnement i {
  padding-right: 30px;
  padding-left: 1em;
  color: #7e7e7e;
}
#home main #restaurants figure {
  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
}
#home main #restaurants figure .nouveau {
  display: flex;
  justify-content: flex-end;
  color: #1f997c;
  border-radius: 10px;
}
#home main #restaurants figure .nouveau p {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: absolute;
  background-color: #99e2d0;
}
#home main #restaurants figure img {
  object-fit: cover;
  width: 100%;
  height: 30vw;
}
#home main #restaurants figcaption {
  margin: 0 0 4em 1em;
}
#home main #restaurants figcaption h3 {
  margin: 1em 0 0.5em 0;
}
#home main #restaurants figcaption p {
  margin: 0;
}
#home main #restaurants figcaption .restaurants-picto {
  display: flex;
  justify-content: flex-end;
  margin-top: -3em;
}
#home main #restaurants figcaption .restaurants-picto .fa.fa-heart {
  font-weight: 400;
  color: #000;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  margin-right: 20px;
}
#home main #restaurants figcaption .restaurants-picto .fa.fa-heart.plein {
  color: #dfa1e0 !important;
  font-weight: 900;
  opacity: 0;
}
#home main #restaurants figcaption .restaurants-picto .fa.fa-heart.plein:hover {
  opacity: 1;
  background: #fff;
  transition: all 1s ease-out;
}

@media (min-width: 768px) and (max-width: 1026px) {
  #fonctionnement div {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  #fonctionnement div a.conteneur-fonctionnement {
    width: 50%;
  }

  #restaurants {
    display: flex;
    flex-wrap: wrap;
  }
  #restaurants h2 {
    width: 100%;
  }
  #restaurants figure {
    width: 39%;
  }
}
@media (min-width: 1027px) {
  #fonctionnement div {
    display: flex;
    justify-content: space-around;
  }
  #fonctionnement div a.conteneur-fonctionnement {
    min-width: 25%;
  }

  #restaurants {
    display: flex;
    flex-wrap: wrap;
  }
  #restaurants h2 {
    width: 100%;
  }
  #restaurants figure {
    width: 25%;
  }
  #restaurants figure a.conteneur-restaurants img {
    height: 15vw !important;
  }
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
}

#menu main figure {
  margin: 0;
}
#menu main figure img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
#menu main section {
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  padding: 5em 5%;
}
#menu main section div.page-picto {
  display: flex;
  justify-content: flex-end;
  margin-top: -3em;
}
#menu main section div.page-picto .fa.fa-heart {
  font-weight: 400;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  margin-right: 20px;
}
#menu main section div.page-picto .fa.fa-heart.plein {
  color: #dfa1e0 !important;
  font-weight: 900;
  opacity: 0;
}
#menu main section div.page-picto .fa.fa-heart.plein:hover {
  opacity: 1;
  transition: all 1s ease-out;
  background: #fff;
}
#menu main section div.menu {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
#menu main section div.menu h2 {
  text-transform: uppercase;
  font-weight: 400;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: #99e2d0;
  padding-bottom: 10px;
  width: 50px;
  font-size: 19px;
}
#menu main section div.menu div.conteneur-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
  padding: 1em;
  animation-duration: 3s;
  animation-name: conteneur-menu;
  overflow: hidden;
  height: 60px;
  margin-bottom: 1em;
}
@keyframes conteneur-menu {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
#menu main section div.menu div.conteneur-menu .description-menu {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#menu main section div.menu div.conteneur-menu .description-menu p {
  font-weight: 300;
}
#menu main section div.menu div.conteneur-menu .description-menu p, #menu main section div.menu div.conteneur-menu .description-menu h3 {
  margin: 5px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
#menu main section div.menu div.conteneur-menu .prix {
  margin: 0 5% 0 5%;
}
#menu main section div.menu div.conteneur-menu .picto-animation {
  color: #f6f6f6;
  background-color: #99e2d0;
  font-size: 2em !important;
  overflow: hidden;
  text-align: center;
  align-items: center;
  font-size: 25px;
  float: right;
  object-fit: contain;
  height: 4em;
  display: flex;
  justify-content: center;
  margin: 0px -18px -40px 0px;
  width: 0%;
}
#menu main section div.menu div.conteneur-menu .picto-animation i {
  transition: transform 1s;
  transform: rotate(0deg);
}
#menu main section div.menu div.conteneur-menu:hover .picto-animation {
  width: 2em;
  transition: 1.5s;
}
#menu main section div.menu div.conteneur-menu:hover .picto-animation i {
  transform: rotate(360deg);
}
#menu main div#menu-btn {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

@media (min-width: 768px) {
  section {
    flex-direction: inherit !important;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  section h1, section #page-picto, section div#menu-btn {
    width: 100%;
  }
  section div.menu {
    width: 45%;
    margin: 0;
  }
  section div.page-picto {
    margin-top: 1em !important;
  }
}
@media (min-width: 1027px) {
  div.menu {
    width: 30% !important;
  }
}

/*# sourceMappingURL=style.css.map */
